:root {
  --fondo: rgb(196, 255, 248);
  --pri: rgb(17, 32, 64);
  --shadow: rgb(0, 0, 0, 0.3);
  --shadow-soft: rgba(0, 0, 0, 0.1);
  --sec: rgb(17, 95, 85);
  --sec-shine: rgb(36, 143, 129);
  --sec-trans: rgb(17, 95, 85, 0.5);
  --text-button: white;
}
.contInicio {
  display: flex;
  flex-direction: column;
  /* background-size: cover; */
  /* width: 100%; */
}
.bloque {
    /* background-image: url('../../imgs/soleado.jpg'); */
    /* background-size: cover; */
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: var(--fondo); */
    /* border-bottom:3px solid blue; */
    box-shadow: 0 10px 10px var(--shadow-soft), 10px 0 10px var(--shadow-soft);
    display: flex;
    padding: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    /* align-items: center; */
    /* padding: 0 ; */
    /* filter: blur(2px); */
}
/*Calibri, Cambria, Century Gothic, Courier New, Rockwell, Impact */

                                                  /* IZQUIERDA */
.izquierda {
  /* border: 2px solid rgb(44, 23, 23); */
  /* margin: 2%; */
  width: 50%;
  /* height: auto; */
  /* background-color: red; */
  /* border: 1px solid var(--sec); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-right: 5%; */
  /* overflow: auto; */
  padding: 5%;
  /* align-items: center; */
  /* border-radius: 5%; */
  /* box-shadow: inset 5px 5px 500px var(--green), inset -5px -5px 20px 20px var(--green); */
}
.imginicio {
  /* border: 1px solid black; */
  width: 55%;
  /* height: auto; */
  align-self: center;
  /* margin-left: 20%;
  margin-top: 30%; */
  /* border-radius: 50px; */
  /* box-shadow: 8px 8px 25px var(--shadow); */
  /* box-sizing: border-box; */
  filter: drop-shadow(10px 10px 10px var(--shadow-soft));
  /* transition: all 0.3s ease; */
}
                                                    /* DERECHA */
.derecha {
  /* background-color: red; */
  /* border: 1px solid black; */
  /* margin: 2%; */
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-content: space-around; */
  /* margin-top: 15%; */
}
.titulo {
  /* font-family: ''; */
  color: var(--pri);
  /* font-weight: bold; */
  /* font-family: 'Montserrat'; */
  font-size: 60px;
  margin: 0;
  text-shadow: 5px 5px 5px var(--shadow-soft);
}
/* .derecha ul { */
  /* margin-top: 10%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 2px solid red; */
  /* padding: 0; */
  /* color: var(--pri) */
/* } */
/* .derecha li { */
  /* border: 2px solid blue; */
  /* padding: 0; */
  /* list-style-type: none; */
  
  /* background-color: var(--green); */
  /* border-radius: 5px; */
/* } */
p {
  /* margin: 0; */
  /* padding: 0; */
  /* background-color: red; */
  text-align: center;
  /* border: 2px solid black; */
  /* font-family: 'Calibri'; */
  /* font-weight: 500; */
  font-weight: 500;
  font-size: 30px;
  color: var(--sec);
  margin: 1%;
  text-shadow: 5px 5px 5px var(--shadow-soft);
}
.ingresar {
  background-color: var(--sec);
  border-radius: 10px 50px 50px 10px;
  /* padding: 0; */
  width: 40%;
  min-width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  /* font-family: 'Calibri'; */
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 10px 5px var(--shadow-soft);
  transition: all 0.5s ease;
}
.ingresar:hover {
  background-color: var(--fondo);
  border-radius: 10px;
  width: 44%;
  /* height: 40px; */
  /* min-width: 30%; */
  /* margin-left: 28%; */
  /* padding: auto; */
  font-weight: 700;
  /* font-size: 40px; */
  color: var(--pri);
  box-shadow: 0 0 10px 5px var(--shadow-soft);
}
.ingresar:active {
  background-color: var(--fondo);
  border-radius: 15px;
  width: 42%;
  min-width: 30%;
  margin-left: 29%;
  /* font-weight: 700; */
  font-size: 30px;
  color: var(--pri);
  box-shadow: 0 0 10px 1px var(--shadow-soft);
}

@media screen and (max-width: 700px) {
  .Inicio {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
  }
  .izquierda {
    width: 100%;
    border-right: none;
  }
  .imginicio {
    margin-top: 5%;
    margin-right: 4%;
  }
  .derecha {
    width: 100%;
    margin-top: 5%;
  }
  .titulo {
    font-size: 17vw;;
  }
  /* .derecha ul {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
  } */
  /* .texto {
    font-size: 7vw;
  } */
  .ingresar {
    margin-bottom: 25%;
    font-size: 7vw;
  }
}