.Buscador {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 0; */
    margin: 6% 5% 4% 5%;
    padding: 5px 15px 5px 15px;
    /* background-color: var(--sec-trans); */
    border-radius: 10px;
    box-shadow: 2px 2px 25px 2px var(--shadow-soft);
    position:static;
    /* z-index: 1; */
}
.paises {
    width: 20%;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid var(--sec);
    /* border-left: 1px solid var(--sec); */
    /* border-radius: 5px; */
    /* padding: 2px 0 2px 0; */
    /* border: 1px solid green; */
    /* background-color: white; */
    /* border: 1px solid green; */
}

.actividades {
    /* padding: 1px 0 1px 0; */
    /* border: 1px solid green; */
    width: 40%;
    height: 100%;
    /* text-align: center; */
    /* border: 1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    border-right: 1px solid var(--sec);

}
.contTitulos {
    /* border: 2px solid rebeccapurple; */
    padding: 1% 2% 1% 2%;
    text-align: center;
    /* padding-right: 2%; */
    /* padding-left: 2%; */
    margin: 0;
    width: 100%;
    /* display: flex;
    align-items: center; */

}
.titulos {
    /* font-family: 'Calibri'; */
    /* border: 1px solid black; */
    /* padding-left: 25px;
    padding-right: 25px; */
    /* width: 100%;
    padding: 0;
    margin: 0; */
    width: 100%;
    /* background-color: white; */
    padding: 1% 0 1% 0;
    /* margin-right: 5%; */
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 0;
    color: var(--pri);
}
.titulos:hover {
    background-color: white;
    cursor: pointer;
    padding: 3% 0 3% 0;
}
.contTitulos:hover .opciones {
    /* display: block; */
    /* background-color: red; */
    visibility: visible;
    opacity: 1;
    /* transform: all; */
    
}
.opciones {
    /* float: none; */
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    /* z-index: -2; */
    background-color: var(--fondo);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 10px;
    padding: 10px;
    position: absolute;
    text-align: left;
    box-shadow: 1px 1px 5px var(--shadow);
    /* font-family: 'Calibri'; */
    font-weight: 500;
    font-size: 16px;
    color: var(--sec);
    transition: all 0.2s linear;

}
.ordenadores {
    width: 15%;
    padding: 0;
    margin: 0;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid var(--sec);

}
.btnorder {
    margin: 2%;
    background-color: var(--fondo);
    border: none;
    border-radius: 10px;
    padding: 2% 10% 2% 10%;
    color: var(--pri);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Calibri';
    transition: all 0.2s ease;
    /* outline: auto; */
    /* box-shadow: 1px 1px 10px 1px var(--shadow); */
}
.btnorder:hover {
    background-color: var(--sec);
    color: var(--fondo);
    cursor: pointer;
}
.btnorder:focus {
    box-shadow: 1px 1px 10px 1px var(--shadow-soft);
    outline: auto;
}
.buscar {
    /* border: 1px solid pink; */
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchBox {
    border: 1px solid var(--sec);
    border-radius: 10px;
    background-color: var(--fondo);
    width: 25%;
    color: var(--pri);
    transition: all 0.2s ease;
    box-shadow: inset 1px 1px 1px var(--shadow-soft);
    padding-left: 5%;
    font-family: 'Calibri';
    font-size: 15px;
    font-weight: 600;
}
.searchBox::placeholder {
    color: var(--sec);
    transition: all 0.2s ease;
}
.searchBox:focus::placeholder {
    color: rgba(255, 0, 0, 0);
}
.searchBox:focus {
    width: 50%;
    border: 1px solid var(--sec);
    outline: none;
}
.searchBtn {
    border-radius: 10px;
    border: none;
    background-color: var(--sec);
    padding: 2% 5% 2% 5%;
    color: var(--fondo);
    font-family: 'Calibri';
    font-weight: 600;
    font-size: 15px;
    box-shadow: inset -1px 1px 15px var(--sec-shine);
    transition: all 0.2s ease;
}
.searchBtn:hover {
    cursor: pointer;
    background-color: var(--fondo);
    color: var(--sec);
    box-shadow: 1px 1px 15px var(--shadow);
}
.searchBtn:active {
    font-size: 13px;
    cursor: pointer;
    background-color: var(--fondo);
    color: var(--sec);
    box-shadow: 1px 1px 5px var(--shadow);
}